[submodule "Batch"]
	path = Batch
	url = https://github.com/miketestgit02/Batch
[submodule "C#_Programs"]
	path = "C#_Programs"
	url = "https://github.com/miketestgit02/C#_Programs"
[submodule "C++_Programs"]
	path = C++_Programs
	url = https://github.com/miketestgit02/C++_Programs
[submodule "Java"]
	path = Java
	url = https://github.com/miketestgit02/Java
[submodule "MatLab"]
	path = MatLab
	url = https://github.com/miketestgit02/MatLab
